.all-articles{
  transition: transform 1s;
  width: auto;
  display: grid;
  grid-auto-rows: minmax(1fr, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2vw;
  column-gap: 5vw;
  justify-content: center;
  align-content: center;
  padding: 5vw;
  background-color: white;
  border-radius: 10px;
}

.card{
  position: relative;

}

.txtcontenu {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index:2;

  font-weight: bold;
  height: auto;
  width: auto;
  color: #424242 !important;
  font-size: 2vw;
  text-align: center;
  justify-content: center;
}

.imgcontenu{
  transition: 0.5s;
}

.all-articles a:hover .imgcontenu {
  opacity: 0.5;
  filter: sepia(80%);
  transform: translateY(-10px);
}

.all-articles a:hover .txtcontenu {
  opacity: 1;
}


.all-articles a img{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 2%;

}


.card_1 img {
  width: 40vw;
  height: 20vw;
}
.card_1 .txtcontenu{
  padding-right: 45vw;
  padding-top: 4vw;
}

.card_2 img{
  width: 25vw;
  height: 42vw;
}

.card_2 {
  grid-column: 2;
  grid-row: 1 / span 2 ;
}

.card_2 .txtcontenu{
  padding-right: 16vw;
  padding-top: 4vw;
}

.card_3 img {
  width: 40vw;
  height: 20vw;
}

.card_3  {
  grid-column: 1;
  grid-row: 2;

}

.card_3 .txtcontenu{
  padding-left: 4vw;
  padding-top: 8vw;
}

@media screen and (max-width: 650px) {
  .all-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}

@media screen and (max-width: 425px) {
  .card_1 img{
    width: 50vw;
    height: 25vw;
  }
  .card_2 img{
    width: 30vw;
    height: 50vw;

  }
  .card_3 img{
    width: 50vw;
    height: 25vw;
  }
}
@media screen and (max-width: 375px) {
  .card_1 img{
    width: 60vw;
    height: 30vw;
  }
  .card_2 img{
    width: 40vw;
    height: 55vw;

  }
  .card_3 img{
    width: 60vw;
    height: 30vw;
  }
}

@media screen and (max-width: 320px) {
  .card_1 img{
    width: 70vw;
    height: 35vw;
  }
  .card_2 img{
    width: 50vw;
    height: 60vw;

  }
  .card_3 img{
    width: 70vw;
    height: 35vw;
  }
}
