.carousel-inner{
  margin: 2rem auto;
  overflow: hidden;
  border: 20px outset #e1c8af;
  border-radius: 5px;
  box-shadow: rgba(174, 135, 95, 0.45) 0px 5px 15px;
}


@media screen and (max-width: 330px) {
  #taillecarousel{
    height: 75vw;
  }
  #photocarousel img{
    height: 70vw;
    object-fit: fill;

  }
  .articles_card_photo img {
    height: 75vw;
    object-fit: fill;

}
}
