<%= render 'pages/accueil' %>

<div class="container" id="perso">

  <h1 class="main-title" >Qui suis je?</h1>

  <div class="items">

    <div class="item_1">
      <h4> Une jeune reconvertie...</h4>
      <div class="photo"></div>
          <p>Infirmière pendant neuf ans, j'ai décidé début 2022 d'entamer une reconversion professionnelle dans le milieu de la tech et plus précisément comme développeuse web ! J'ai donc débuté ce projet en m'inscrivant au bootcamp du <strong><a href="https://www.lewagon.com/fr" target="_blank" >Wagon Lyon</a></strong>. Je termine le bootcamp en décrochant la certification de <i>"conceptrice - développeuse d'application web"</i>.</p>
      </div>
      <div class="item_2">
        <h4> ... passionnée par le code</h4>
          <p>Dans ce secteur d’activité, il est primordial d’être proactif et se former en totale autonomie afin de parfaire ses connaissances et maîtriser de nouveaux outils. Code Academy et Udemy me permettent, entre autres, de monter en compétences.
          Je recherche activement un poste fullstack dans une entreprise développant sur ruby and rails. J'aime particulièrement ce framework car je le trouve accessible, très développé et lisible grâce à son écriture qui ressemble énormément à l'anglais.</p>
        </div>

      <div class="item_3">
        <h4> A propos de moi</h4>
          <p>Mes précédentes expériences professionnelles dans le milieu de la santé démontrent mon implication et ma détermination dans un secteur qui requiert une bonne résistance au stress et des facultés d’adaptation.</p>
          <h4>Mes centres d'intérêt sont assez variés</h4>
          <ul>
            <li>J'ai toujours eu une passion pour le voyage. J'adore découvrir de nouvelles cultures, m'émerveiller devant des paysages incroyables. La période covid a mis cette passion entre parenthèse mais j'ai pu à nouveau repartir il y a quelques mois à Tahiti. Que ce soit l'Asie, l'Amérique Latine, les Caraïbes, la Polynésie mon cœur balance.
            </li>
            <li>Lors de mon dernier voyage j'ai pu expérimenter pour la première fois la plongée sous-marine et ça a été un énorme coup de cœur. J'avais beaucoup d'appréhension mais finalement ça a été une expérience incroyable.</li>
            <li>Au quotidien j'aime énormément cuisiner et plus particulièrement faire de la pâtisserie.</li>
        </ul>
    </div>

</div>
