   <div class="imagehome">
      <div class="imagehometext">
        <h1><strong>Lisa Scanzi, développeuse fullstack</strong></h1>
        <h2><i>Bienvenue sur mon portfolio</i></h2>
      </div>
    </div>
