<div class="container">
    <div class="contact-msg">
        <h2 class="msg-text">Merci pour votre message ! </h2>
        <h3 class="msg-text">Je reviendrai vers vous au plus vite ! </h3>
    </div>
</div>

<%= render 'shared/footer' %>
