// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.section-contact h1 {
  text-align: center;
}

.formulaire {
    margin: 0 auto;
    width: 70%;
}

// .form-bloc{
//   margin-left: 15%;
// }

.form-group {
  position: relative;
  margin-bottom: 40px;
}

.form-group label{
  color: #aaa;
  font-size: 16px;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 2px solid #aaa;
  color: #666;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 100px;
  border: none;
  border: 2px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  outline: none;
  font-size: 16px;
  background-color: #f1f1f1;
}

.form-group .button-sub {
  text-align: center;
  display: block;
  width: auto;
  padding: 15px 40px;
  margin: auto;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(to right, transparent 50%, rgb(253, 232, 173) 50%, rgb(255, 187, 0));
  background-size: 200%;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

}

.form-group .button-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #fff;
}

.section-contact{
  padding-bottom: 2vw;
  border-radius: 10px;
  padding: 5vw;
  background-color: white;
}

@media screen and (max-width: 1300px) {
  .formulaire {
    padding-left: 0;
  }
}

// create //

.contact-msg{
  background-color: white;
  border-radius: 10px;
  padding: 4vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  text-align: center;
}


.contact-msg {
  margin: 10%;
}

.msg-text{
  text-align: center;
  font-size: 2vw;
}


@media screen and (max-width: 728px) {
  .form-group .button-sub{
    font-size: 18px;
  }

}
@media screen and (max-width: 425px) {
  .form-group .button-sub{
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .form-group .button-sub{
    padding: 10px 29px;
    font-size: 14px;
  }
}
